.instagramHashtagContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    margin: 1.2rem auto;
    text-align: center;
    border: 3px solid #eee;
    padding: 20px;
    background-color: var(--bg-color);
}

.instagramHashtagContainer img {
    width: 80px;
    margin-bottom: 1rem;
}

.instagramHashtagContainer h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.instagramHashtagContainer p {
    font-size: 1rem;
    margin: 0 0 2rem;
    color: #bcbcbc;
}

.instagramHashtagContainer span {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: #eee;
    font-weight: 400;
}

@media (max-width: 480px) {
    .instagramHashtagContainer {
        width: 90%;
    }

    .instagramHashtagContainer h2 {
        font-size: 1rem;
    }
}