.introMessageContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-color: var(--main-color);
    color: #2e2e2e;
}

.introMessageContainer h2{
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    padding: 3rem 2rem;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 480px) {
    .introMessageContainer h2{
    border-top: none;
    border-bottom: none;
    padding: 1rem 0.5rem;
}

}